{% extends 'documents/base.html' %}
{% load static %}
{% block rel %}
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            padding: 20px;
        }
        .result-container {
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            max-width: 400px;
            margin: auto;
            text-align: center;
        }
        .result-container h1 {
            margin-bottom: 20px;
        }
        .result-container p {
            font-size: 18px;
        }
        .result-container .success {
            color: #4CAF50;
        }
        .result-container .error {
            color: #f44336;
        }
    </style>

{% endblock %}

{% block title %}
	<title>Sent Document Page</title>
{% endblock %}

{% block content %}


<main>

    <title>Document Submission Result</title>

    <div class="result-container">
        <h1>Document Submission Result</h1>
        <p class="{% if 'successfully' in message %}success{% else %}error{% endif %}">{{ message }}</p>
        <a href="/">Go Back</a>
    </div>


</main>



{% endblock %}

{% block js %}

{% endblock %}
