<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <noscript>Dude, Turn Your JavaScript On, How Else I'm Supposed To Steal Your Data And Sell it To FBI!</noscript>
    <link rel="stylesheet" href="css/mcleod-reset.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Gravitas+One">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/mq_575_plus.css" media="screen and (min-width: 575px)">


    <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.5.0/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.5.0/js/bootstrap4-toggle.min.js"></script>
</head>

<body>

<nav class="nav nav-pills flex-column flex-sm-row align-items-sm-center navIndex">

    <svg class="d-none d-lg-block" viewBox="0 0 603.33 592.12" style="width: 3%;">
        <style type="text/css">
            .st0 {
                fill: #4D4D4D;
                stroke: #000000;
                stroke-miterlimit: 10;
            }

            .st1 {
                fill: none;
                stroke: #000000;
                stroke-miterlimit: 10;
            }

            .st2 {
                fill: #ED1C24;
                stroke: #000000;
                stroke-miterlimit: 10;
            }

            .st3 {
                fill: none;
            }
        </style>
        <path class="st0" d="M295.89,151.77v-144c-159.06,0-288,128.94-288,288s128.94,288,288,288v-83.26l-35.5,35.76l-35.5-36l-1-0.79
        C151.42,473.86,95.49,407,82.88,331.77h69.01v-72H82.88c13.09-78.06,68.06-141.92,141.01-167.71v59.71H295.89z"/>
        <g id="XMLID_1_">
            <g>
                <path d="M286.42,22.83V142.8h-53.17V76.83C160.2,95.26,82.19,160.95,70.63,269.02h72.46v54.49H70.63
                c4.46,55.17,33.4,106.64,72.29,142.24v59.76C72.66,476.08,22.76,389.82,22.76,296.76C22.76,147.68,147.05,26.88,286.42,22.83z"/>
            </g>
            <g>
                <path class="st1" d="M70.63,269.02h72.46v54.49H70.63c4.46,55.17,33.4,106.64,72.29,142.24v59.76
                C72.66,476.08,22.76,389.82,22.76,296.76c0-149.08,124.29-269.88,263.66-273.93V142.8h-53.17V76.83
                C160.2,95.26,82.19,160.95,70.63,269.02z"/>
            </g>
        </g>
        <polygon class="st2" points="295.76,437.25 295.76,491.38 289.47,497.75 260.38,527.25 231.88,498.34 223.76,490.11 223.76,437.25
        "/>
        <path id="SVGID_x5F_1_x5F_" class="st3"
              d="M291.92,79.05c121,0,219.08,93.27,219.08,208.34s-98.08,208.34-219.08,208.34"/>
        <text>
            <textPath text-anchor="middle" xlink:href="#SVGID_x5F_1_x5F_" startOffset="50%">
                <tspan style="font-family:'Gravitas One'; font-size:100.4607px;">FAKHAR</tspan>
            </textPath>
        </text>
    </svg>

    <a class="nav-item nav-link px-5 mx-1 my-sm-0 my-1 Hov" href="">Service</a>
    <a class="nav-item nav-link px-5 mx-1 my-sm-0 my-1 Hov" href="">Help</a>
    <a class="nav-item nav-link px-5 mx-1 my-sm-0 my-1 Hov" href="../../../documents/templates/documents/index.html">Home</a>
    <a class="nav-item nav-link px-5 mx-1 my-sm-0 my-1 Hov" href="">About Us</a>

    <div class="nav-item nav-link px-0 py-0 mx-1 my-sm-0 my-1 ml-sm-auto sign d-flex align-items-center justify-content-between">

        <div class="d-none d-lg-block mr-1">
            <input type="checkbox" checked data-toggle="toggle" data-width="70" data-height="40"
                   data-on="<img style='height:35px; box-sizing: content-box; padding: 0 0 0.9rem 0;' src='https://www.countryflags.io/IR/flat/64.png'>"
                   data-off="<img style='height:35px; box-sizing: content-box; padding: 0 0 0.9rem 0;' src='https://www.countryflags.io/US/flat/64.png'>"
                   data-onstyle="danger" data-offstyle="success" data-style="ios">
        </div> <!-- Flags-US-IR -->

        <a class="nav-item nav-link mx-1 my-0 btn btn-info" href="login.html">Sign In</a>
        <a class="nav-item nav-link mx-1 my-0 btn btn-info" href="register.html">Sign Up</a>

    </div>

</nav> <!-- Nav -->







<div class="border-0 card card_edit mx-xl-5">

    <!-- Card body -->
    <div class="card-body">

        <!-- Material form register -->
        <form>
            <p class="h4 text-center py-4">Sign Up</p>
            <hr style="background-color:#2196f3; width: 20%;">

            <!-- Material input text -->
            <div class="md-form">
                <input type="text" placeholder=" " id="materialFormCardNameEx" class="form-control">
                <label for="materialFormCardNameEx" class="font-weight-light">Your name</label>
            </div>

            <!-- Material input email -->
            <div class="md-form">
                <input type="email" placeholder=" " id="materialFormCardEmailEx" class="form-control">
                <label for="materialFormCardEmailEx" class="font-weight-light">Your email</label>
            </div>

            <!-- Material input email -->
            <div class="md-form">
                <input type="email" placeholder=" " id="materialFormCardConfirmEx" class="form-control">
                <label for="materialFormCardConfirmEx" class="font-weight-light">Confirm your email</label>
            </div>

            <!-- Material input password -->
            <div class="md-form">
                <input type="password" placeholder=" " id="materialFormCardPasswordEx" class="form-control">
                <label for="materialFormCardPasswordEx" class="font-weight-light">Your password</label>
            </div>

            <div class="md-form">
                <input class="form-check-input" type="checkbox" id="defaultCheck12">
                <label for="defaultCheck12" class="grey-text">Accept the
                    <a href="#" style="color:#2196f3;"> Terms and Conditions</a>
                </label>
            </div>

            <div class="text-center mt-5">
                <button type="button" onClick="clk()" class="wavy waves-effect waves-light">Sign Up</button>
            </div>

            <small class="d-flex mt-5 mt-sm-0 justify-content-center justify-content-sm-end">Already have an Account?&nbsp;<a href="login.html">Sign In</a></small>

        </form>
        <!-- Material form register -->

    </div>
    <!-- Card body -->

</div>



<!-- Footer -->
<footer class="mainfooter">
    <div class="footer-header d-flex flex-column flex-sm-row justify-content-center justify-content-sm-between align-items-center">

        <h6 class="m-0 ml-2">Get connected with us on social networks!</h6>

        <div class="mr-2">
            <a href=""><i class="demo-icon icon-facebook">&#xf09a;</i></a>
            <a href=""><i class="demo-icon icon-twitter">&#xf099;</i></a>
            <a href=""><i class="demo-icon icon-gplus">&#xf0d5;</i></a>
            <a href=""><i class="demo-icon icon-linkedin">&#xf0e1;</i></a>
            <a href=""><i class="demo-icon icon-instagram">&#xf16d;</i></a>
            <a href=""><i class="demo-icon icon-telegram">&#xf2c6;</i></a>
        </div>

    </div>

    <div class="footer-links container text-center text-md-left mt-5">

        <div class="row mt-3">

            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

                <h6 class="text-uppercase font-weight-bold text-nowrap">Fakhar Industrial Machines</h6>
                <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet,
                    consectetur
                    adipisicing elit.</p>

            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

                <h6 class="text-uppercase font-weight-bold">Products</h6>
                <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">

                <p><a href="#">MDBootstrap</a></p>
                <p><a href="#">MDWordPress</a></p>
                <p><a href="#">BrandFlow</a></p>
                <p><a href="#">Bootstrap Angular</a></p>

            </div>
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

                <h6 class="text-uppercase font-weight-bold">Useful links</h6>
                <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">

                <p><a href="#">Your Account</a></p>
                <p><a href="#">Become an Affiliate</a></p>
                <p><a href="#">Shipping Rates</a></p>
                <p><a href="#">Help</a></p>

            </div>

            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                <h6 class="text-uppercase font-weight-bold">Contact</h6>
                <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">

                <address><i class="demo-icon icon-home pr-4">&#xe800;</i> No1-20St.Industrial Town <span class="d-none d-lg-inline" style="padding: 0 0 0 2rem;">&nbsp;</span>South Of Tehran <span class="d-none d-lg-inline" style="padding: 0 0 0 2rem;">&nbsp;</span>(Chahardangeh) Saveh,Road. <span class="d-none d-lg-inline" style="padding: 0 0 0 2rem;">&nbsp;</span>tehran, Iran</address>
                <p><i class="demo-icon icon-mail-alt pr-4">&#xf0e0;</i> rezafakhar63@gmail.com</p>
                <p><i class="demo-icon icon-phone pr-4">&#xe801;</i> + 021 55257779</p>
                <p><i class="demo-icon icon-print pr-4">&#xe802;</i> + 021 55250237</p>

            </div>
        </div>
    </div>class="d-none d-sm-inline"

    <div class="footer-copyright d-flex justify-content-center align-items-center">
        &copy; 2018 Copyright:&nbsp;
        <a href="#">MDBootstrap.com</a>
    </div>
</footer>
<!-- Footer -->



<script>
    $(document).ready(function() {

        $(".wavy").click(function() {
            setTimeout(function(){
                $(".wavy").blur()
            },900);
        });
    });

    (function(window) {
        'use strict';

        var Waves = Waves || {};
        var $$ = document.querySelectorAll.bind(document);

        // Find exact position of element
        function isWindow(obj) {
            return obj !== null && obj === obj.window;
        }

        function getWindow(elem) {
            return isWindow(elem) ? elem : elem.nodeType === 9 && elem.defaultView;
        }

        function offset(elem) {
            var docElem, win,
                box = {
                    top: 0,
                    left: 0
                },
                doc = elem && elem.ownerDocument;

            docElem = doc.documentElement;

            if (typeof elem.getBoundingClientRect !== typeof undefined) {
                box = elem.getBoundingClientRect();
            }
            win = getWindow(doc);
            return {
                top: box.top + win.pageYOffset - docElem.clientTop,
                left: box.left + win.pageXOffset - docElem.clientLeft
            };
        }

        function convertStyle(obj) {
            var style = '';

            for (var a in obj) {
                if (obj.hasOwnProperty(a)) {
                    style += (a + ':' + obj[a] + ';');
                }
            }

            return style;
        }

        var Effect = {

            // Effect delay
            duration: 750,

            show: function(e, element) {

                // Disable right click
                if (e.button === 2) {
                    return false;
                }

                var el = element || this;

                // Create ripple
                var ripple = document.createElement('div');
                ripple.className = 'waves-ripple';
                el.appendChild(ripple);

                // Get click coordinate and element witdh
                var pos = offset(el);
                var relativeY = (e.pageY - pos.top);
                var relativeX = (e.pageX - pos.left);
                var scale = 'scale(' + ((el.clientWidth / 100) * 10) + ')';

                // Support for touch devices
                if ('touches' in e) {
                    relativeY = (e.touches[0].pageY - pos.top);
                    relativeX = (e.touches[0].pageX - pos.left);
                }

                // Attach data to element
                ripple.setAttribute('data-hold', Date.now());
                ripple.setAttribute('data-scale', scale);
                ripple.setAttribute('data-x', relativeX);
                ripple.setAttribute('data-y', relativeY);

                // Set ripple position
                var rippleStyle = {
                    'top': relativeY + 'px',
                    'left': relativeX + 'px'
                };

                ripple.className = ripple.className + ' waves-notransition';
                ripple.setAttribute('style', convertStyle(rippleStyle));
                ripple.className = ripple.className.replace('waves-notransition', '');

                // Scale the ripple
                rippleStyle['-webkit-transform'] = scale;
                rippleStyle['-moz-transform'] = scale;
                rippleStyle['-ms-transform'] = scale;
                rippleStyle['-o-transform'] = scale;
                rippleStyle.transform = scale;
                rippleStyle.opacity = '1';

                rippleStyle['-webkit-transition-duration'] = Effect.duration + 'ms';
                rippleStyle['-moz-transition-duration'] = Effect.duration + 'ms';
                rippleStyle['-o-transition-duration'] = Effect.duration + 'ms';
                rippleStyle['transition-duration'] = Effect.duration + 'ms';

                rippleStyle['-webkit-transition-timing-function'] = 'cubic-bezier(0.250, 0.460, 0.450, 0.940)';
                rippleStyle['-moz-transition-timing-function'] = 'cubic-bezier(0.250, 0.460, 0.450, 0.940)';
                rippleStyle['-o-transition-timing-function'] = 'cubic-bezier(0.250, 0.460, 0.450, 0.940)';
                rippleStyle['transition-timing-function'] = 'cubic-bezier(0.250, 0.460, 0.450, 0.940)';

                ripple.setAttribute('style', convertStyle(rippleStyle));
            },

            hide: function(e) {
                TouchHandler.touchup(e);

                var el = this;
                var width = el.clientWidth * 1.4;

                // Get first ripple
                var ripple = null;
                var ripples = el.getElementsByClassName('waves-ripple');
                if (ripples.length > 0) {
                    ripple = ripples[ripples.length - 1];
                } else {
                    return false;
                }

                var relativeX = ripple.getAttribute('data-x');
                var relativeY = ripple.getAttribute('data-y');
                var scale = ripple.getAttribute('data-scale');

                // Get delay beetween mousedown and mouse leave
                var diff = Date.now() - Number(ripple.getAttribute('data-hold'));
                var delay = 350 - diff;

                if (delay < 0) {
                    delay = 0;
                }

                // Fade out ripple after delay
                setTimeout(function() {
                    var style = {
                        'top': relativeY + 'px',
                        'left': relativeX + 'px',
                        'opacity': '0',

                        // Duration
                        '-webkit-transition-duration': Effect.duration + 'ms',
                        '-moz-transition-duration': Effect.duration + 'ms',
                        '-o-transition-duration': Effect.duration + 'ms',
                        'transition-duration': Effect.duration + 'ms',
                        '-webkit-transform': scale,
                        '-moz-transform': scale,
                        '-ms-transform': scale,
                        '-o-transform': scale,
                        'transform': scale,
                    };

                    ripple.setAttribute('style', convertStyle(style));

                    setTimeout(function() {
                        try {
                            el.removeChild(ripple);
                        } catch (e) {
                            return false;
                        }
                    }, Effect.duration);
                }, delay);
            },

            // Little hack to make <input> can perform waves effect
            wrapInput: function(elements) {
                for (var a = 0; a < elements.length; a++) {
                    var el = elements[a];

                    if (el.tagName.toLowerCase() === 'input') {
                        var parent = el.parentNode;

                        // If input already have parent just pass through
                        if (parent.tagName.toLowerCase() === 'i' && parent.className.indexOf('waves-effect') !== -1) {
                            continue;
                        }

                        // Put element class and style to the specified parent
                        var wrapper = document.createElement('i');
                        wrapper.className = el.className + ' waves-input-wrapper';

                        var elementStyle = el.getAttribute('style');

                        if (!elementStyle) {
                            elementStyle = '';
                        }

                        wrapper.setAttribute('style', elementStyle);

                        el.className = 'waves-button-input';
                        el.removeAttribute('style');

                        // Put element as child
                        parent.replaceChild(wrapper, el);
                        wrapper.appendChild(el);
                    }
                }
            }
        };

        /**
         * Disable mousedown event for 500ms during and after touch
         */
        var TouchHandler = {
            /* uses an integer rather than bool so there's no issues with
             * needing to clear timeouts if another touch event occurred
             * within the 500ms. Cannot mouseup between touchstart and
             * touchend, nor in the 500ms after touchend. */
            touches: 0,
            allowEvent: function(e) {
                var allow = true;

                if (e.type === 'touchstart') {
                    TouchHandler.touches += 1; //push
                } else if (e.type === 'touchend' || e.type === 'touchcancel') {
                    setTimeout(function() {
                        if (TouchHandler.touches > 0) {
                            TouchHandler.touches -= 1; //pop after 500ms
                        }
                    }, 500);
                } else if (e.type === 'mousedown' && TouchHandler.touches > 0) {
                    allow = false;
                }

                return allow;
            },
            touchup: function(e) {
                TouchHandler.allowEvent(e);
            }
        };

        /**
         * Delegated click handler for .waves-effect element.
         * returns null when .waves-effect element not in "click tree"
         */
        function getWavesEffectElement(e) {
            if (TouchHandler.allowEvent(e) === false) {
                return null;
            }

            var element = null;
            var target = e.target || e.srcElement;

            while (target.parentElement !== null) {
                if (!(target instanceof SVGElement) && target.className.indexOf('waves-effect') !== -1) {
                    element = target;
                    break;
                } else if (target.classList.contains('waves-effect')) {
                    element = target;
                    break;
                }
                target = target.parentElement;
            }

            return element;
        }

        /**
         * Bubble the click and show effect if .waves-effect elem was found
         */
        function showEffect(e) {
            var element = getWavesEffectElement(e);

            if (element !== null) {
                Effect.show(e, element);

                if ('ontouchstart' in window) {
                    element.addEventListener('touchend', Effect.hide, false);
                    element.addEventListener('touchcancel', Effect.hide, false);
                }

                element.addEventListener('mouseup', Effect.hide, false);
                element.addEventListener('mouseleave', Effect.hide, false);
            }
        }

        Waves.displayEffect = function(options) {
            options = options || {};

            if ('duration' in options) {
                Effect.duration = options.duration;
            }

            //Wrap input inside <i> tag
            Effect.wrapInput($$('.waves-effect'));

            if ('ontouchstart' in window) {
                document.body.addEventListener('touchstart', showEffect, false);
            }

            document.body.addEventListener('mousedown', showEffect, false);
        };

        /**
         * Attach Waves to an input element (or any element which doesn't
         * bubble mouseup/mousedown events).
         *   Intended to be used with dynamically loaded forms/inputs, or
         * where the user doesn't want a delegated click handler.
         */
        Waves.attach = function(element) {
            //FUTURE: automatically add waves classes and allow users
            // to specify them with an options param? Eg. light/classic/button
            if (element.tagName.toLowerCase() === 'input') {
                Effect.wrapInput([element]);
                element = element.parentElement;
            }

            if ('ontouchstart' in window) {
                element.addEventListener('touchstart', showEffect, false);
            }

            element.addEventListener('mousedown', showEffect, false);
        };

        window.Waves = Waves;

        document.addEventListener('DOMContentLoaded', function() {
            Waves.displayEffect();
        }, false);

    })(window);
</script><!-- ripple-On-Sign -->
<script>
    $(document).ready(function() {
        $(".toggle-on").css("padding","0 10px 20px 0");
        $(".toggle-off").css("padding","0 0 20px 10px");
    });

</script> <!-- Toggle-On -->
</body>
</html>